﻿@model netsrishtisales.Models.ProductType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Purity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSNNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSNNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSTPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSTPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
