﻿
@{
    ViewBag.Title = "fetchproduct";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    function fetchcustomer() {
        var mob = document.getElementById("cmobile").value;
        var customermobiles = $('#exampleList'); // cache it
        customermobiles.empty();
        customermobiles.append($('<option></option>').text("Select").val("Select"));
        $.ajax({
            url: '../Estimates/fetchcustomer?mob=' + mob,
            type: 'GET',
            contentType: "application/json;charset=utf-8"
        }).done(function (res) {
            customermobiles.empty();
            customermobiles.append($('<option></option>').text("Select").val("Select"));
            $.each(res, function (index, item) {
                customermobiles.append($('<option></option>').text(item.Text).val(item.ID));
            });
        });
    }

    function check(id) {
        var barcode = id;
        $.ajax({
            url: '../Estimates/fetchproducttype?barcode=' + barcode,
            type: 'GET',
            contentType: "application/json;charset=utf-8"
        }).done(function (res) {
            if (res == "Box") {
                alert(res)
                document.getElementById("getqty").style.visibility = "visible";
                document.getElementById("gw").style.visibility = "visible";

            }
            else if (res == "Fixed") {
                document.getElementById("getqty").style.visibility = "hidden";
                document.getElementById("gw").style.visibility = "hidden";
                document.getElementById("btn").style.visibility = "visible";
            }
            else if (res == "Gram") {
                document.getElementById("getqty").style.visibility = "hidden";
                document.getElementById("gw").style.visibility = "visible";
                document.getElementById("btn").style.visibility = "visible";
            }
            else if (res == "WrongBarCode") {
                alert("Wrong Barcode!");
            }
            else
                document.getElementById("btn").style.visibility = "visible";
        }).fail(function (xhr, a, error) {
            console.log(error);
        });
    }
    function showbutton() {
        document.getElementById("btn").style.visibility = "visible";
    }

</script>
<h2>Estimation</h2>

Customer Mobile No:
<input type="text" id="cmobile" name="cmobile" list="examplelist" onkeypress="fetchcustomer(this.value)" onkeyup="fetchcustomer(this.value)" placeholder="Customer Mobile" />
<datalist id="exampleList">
    <option value="A">
    <option value="B">
</datalist>
<hr />
<h4>Add Product</h4>
@ViewBag.message
@using (Html.BeginForm())
{
    <table class="table table-bordered">
        <tr>
            <td>
                @DateTime.UtcNow
            </td>
            <td>Enter Barcode: <input type="text" onblur="check(this.value)" id="barcode" name="barcode" placeholder="BarCode Here..." /></td>
        </tr>
        <tr>
            <td><input type="number" name="getqty" id="getqty" style="visibility:hidden" placeholder="Quantity" /></td>
            <td><input type="number" name="gw" id="gw" style="visibility:hidden" placeholder="Gross Weight" onblur="showbutton()" /></td>
            <td name="btn" id="btn" style="visibility:hidden">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </td>
        </tr>
    </table>
}
