﻿@model IEnumerable<netsrishtisales.Models.Estimate>

@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        var ptype = document.getElementById("Item").value;
        if (ptype == "textile") {
            document.getElementsByClassName("hideshow").style.display = "hidden";
        }
    }
    )
</script>
<h2>Estimate @DateTime.Now.ToShortDateString()</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="navbar navbar-collapse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-inverse">
            <li>
                @Html.ActionLink("Add item", "fetchproduct", null, new { @style = "color:white; font-weight:600" })
            </li>
            <li>
                @Html.ActionLink("Clear Data", "cleardata", null, new { @style = "color:white; font-weight:600" })
            </li>
            @*<li>
                @Html.ActionLink("", "fetchproduct")
                </li>*@
        </ul>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.inventory.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardRate)
        </th>
        <th class="hideshow">
            @Html.DisplayNameFor(model => model.Purity)
        </th>
        <th class="hideshow">
            @Html.DisplayNameFor(model => model.GrossWeight)
        </th>
        <th class="hideshow">
            @Html.DisplayNameFor(model => model.NetWeight)
        </th>
        <th class="hideshow">
            @Html.DisplayNameFor(model => model.StoneWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HSNNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taxes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeStamp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td class="hideshow">
                @Html.DisplayFor(modelItem => item.BoardRate)
            </td>
            <td class="hideshow">
                @Html.DisplayFor(modelItem => item.Purity)
            </td>
            <td class="hideshow">
                @Html.DisplayFor(modelItem => item.GrossWeight)
            </td>
            <td class="hideshow">
                @Html.DisplayFor(modelItem => item.NetWeight)
            </td>
            <td class="hideshow">
                @Html.DisplayFor(modelItem => item.StoneWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HSNNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taxes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStamp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })

            </td>
        </tr>
    }
</table>

