﻿@model netsrishtisales.Models.Sale

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inventory.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventory.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoneWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoneWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSNNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSNNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeStamp)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
