﻿@model netsrishtisales.Models.Inventory

@{
    ViewBag.Title = "Create";
}
<script>
    $(document).ready(function () {
        $('#storename').change(function () {
            document.getElementById("pt").style.display = "block";
        });

        var item = $('#ItemDesc'); // cache it
        item.empty();
        item.append($('<option></option>').text("Select").val("Select"));

        $("#ProductType").change(function () {
                            document.getElementById("idesc").style.display = "block";

                item.empty();
                item.append($('<option></option>').text("Select").val("Select"));
                var id = $(this).val(); // Use $(this) so you don't traverse the DOM again
                if (id == "Gram") {
                    item.append($('<option></option>').text("Gold").val("Gold"));
                    item.append($('<option></option>').text("Silver").val("Silver"));
                    item.append($('<option></option>').text("Platinum").val("Platinum"));
                    item.append($('<option></option>').text("Diamond").val("Diamond"));
                }
                else if (id == "Box") {
                    item.append($('<option></option>').text("Gold").val("Gold"));
                    item.append($('<option></option>').text("Silver").val("Silver"));
                    item.append($('<option></option>').text("Platinum").val("Platinum"));
                    item.append($('<option></option>').text("Diamond").val("Diamond"));
                    item.append($('<option></option>').text("Textile").val("Textile"));
                }
                else if (id == "Fixed") {
                    item.append($('<option></option>').text("Gold").val("Gold"));
                    item.append($('<option></option>').text("Silver").val("Silver"));
                    item.append($('<option></option>').text("Platinum").val("Platinum"));
                    item.append($('<option></option>').text("Diamond").val("Diamond"));
                    item.append($('<option></option>').text("Textile").val("Textile"));
                }
            });
            $("#ItemDesc").change(function () {
                document.getElementById("check").style.display = "block";
                var itemtype = $("#ItemDesc").val();
                var ptype = $("#ProductType").val();
                switch (itemtype) {
                    case "Textile":
                        if (ptype == "Box") {
                            document.getElementById("UnitPrice").style.display = "block";
                            document.getElementById("qty").style.display = "block";
                            document.getElementById("GrossWeight").style.display = "none";
                            document.getElementById("NetWeight").style.display = "none";
                            document.getElementById("purity").style.display = "none";
                            document.getElementById("stonecharges").style.display = "block";
                        }
                        else if (ptype == "Fixed") {
                            document.getElementById("UnitPrice").style.display = "block";
                            document.getElementById("qty").style.display = "none";
                            document.getElementById("GrossWeight").style.display = "none";
                            document.getElementById("NetWeight").style.display = "none";
                            document.getElementById("purity").style.display = "none";
                            document.getElementById("stonecharges").style.display = "block";
                        }

                        break;
                    case "Silver":
                    case "Gold":
                    case "Platinum":
                        if (ptype == "Box") {
                            document.getElementById("qty").style.display = "block";
                            document.getElementById("UnitPrice").style.display = "none";
                            document.getElementById("GrossWeight").style.display = "block";
                            document.getElementById("NetWeight").style.display = "block";
                        }
                        else if (ptype == "Gram") {
                            document.getElementById("qty").style.display = "none";
                            document.getElementById("UnitPrice").style.display = "none";
                            document.getElementById("GrossWeight").style.display = "block";
                            document.getElementById("NetWeight").style.display = "block";
                        }
                        else if (ptype == "Fixed") {
                            document.getElementById("qty").style.display = "none";
                            document.getElementById("UnitPrice").style.display = "block";
                            document.getElementById("GrossWeight").style.display = "block";
                            document.getElementById("NetWeight").style.display = "block";
                        }
                        document.getElementById("stonecharges").style.display = "block";
                        document.getElementById("purity").style.display = "block";
                        break;
                }
            })
        });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td>
                <span style="font-size:18px; font-weight:600; color:red">
                    Select Store @Html.DropDownList("storename", null, "Select", new { @class = "form-control" })
                </span>
            </td>
            <td width="30"></td>
            <td>

                <div style="font-size:18px; font-weight:600;color:red; display:none" id="pt" name="pt">
                    Product Type    @Html.DropDownList("ProductType", new List<SelectListItem>(){
                                   new SelectListItem {Text="select",Value="Select" },
new SelectListItem {Text="Gram",Value="Gram" },
new SelectListItem {Text="Box",Value="Box" },
new SelectListItem {Text="Fixed",Value="Fixed" }
}, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductType, "", new { @class = "text-danger" })
                </div>
            </td>
            <td width="30"></td>
            <td>
                <div style="font-size:18px; font-weight:600;color:red; display:none" id="idesc" name="idesc">
                    Item    @Html.DropDownList("ItemDesc", new List<SelectListItem>(){
                                                          new SelectListItem {Text="select",Value="Select" },
                      
                        }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Item, "", new { @class = "text-danger" })
                                   </div>
            </td>
        </tr>
    </table>
    <div id="check" name="check" style="display:none">
        <div class="row">
            <div class="col-lg-5">
                <div class="form-horizontal" name="hideshow" id="hideshow">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Barcode, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Barcode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-7">
                <div class="form-horizontal">
                    <hr />

                    <div class="form-group" id="qty" name="qty" style="display:none">

                        @Html.LabelFor(model => model.Qty, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="UnitPrice" name="UnitPrice" style="display:none">
                        @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id="stonecharges" name="stonecharges" style="display:none">
                        @Html.LabelFor(model => model.StoneCharges, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.StoneCharges, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StoneCharges, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id="purity" name="purity" style="display:none">
                        @Html.LabelFor(model => model.Purity, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Purity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Purity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="display:none" id="GrossWeight" name="GrossWeight">
                        @Html.LabelFor(model => model.GrossWeight, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.GrossWeight, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GrossWeight, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="display:none" id="NetWeight" name="NetWeight">
                        @Html.LabelFor(model => model.NetWeight, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.NetWeight, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NetWeight, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
